<h1 mat-dialog-title>{{data.operacao}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Número do voo</mat-label>
    <input type="number" matInput [(ngModel)]="data.numeroVoo" [readonly]="data.readonly">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dia da partida</mat-label>
    <input type="date" matInput [(ngModel)]="data.dataPartida" [readonly]="data.readonly">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Hora da partida</mat-label>
    <input type="time" matInput [(ngModel)]="data.horaPartida" [readonly]="data.readonly">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Fechar</button>
  <button *ngIf="!data.readonly" mat-button [mat-dialog-close]="data" cdkFocusInitial>Salvar</button>
</div>
