<h1 mat-dialog-title>{{data.titleBox}}</h1>
<div mat-dialog-content>
  <p>{{data.message}}</p>
</div>
<div mat-dialog-actions>
  <button *ngIf="data.showNo" mat-button [mat-dialog-close]="false">{{data.buttonNoText}}</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{data.buttonYesText}}</button>
</div>
