<h1 mat-dialog-title>{{data.operacao}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Sobrenome</mat-label>
    <input type="text" matInput [(ngModel)]="data.sobrenome" [readonly]="data.readonly">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input type="text" matInput [(ngModel)]="data.nome" [readonly]="data.readonly">
  </mat-form-field>
  <mat-form-field>
    <mat-label>CPF</mat-label>
    <input type="text" matInput [(ngModel)]="data.cpf" mask="000.000.000-00" [dropSpecialCharacters]="false" [readonly]="data.readonly">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Valor da passagem</mat-label>
    <input type="number" matInput [(ngModel)]="data.valorPassagem" [readonly]="data.readonly">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Fechar</button>
  <button *ngIf="!data.readonly" mat-button [mat-dialog-close]="data" cdkFocusInitial>Salvar</button>
</div>
