<h1 mat-dialog-title>{{data.operacao}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nome da Companhia</mat-label>
    <input matInput [(ngModel)]="data.companhia.nomeCompanhia" [readonly]="data.readonly">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Fechar</button>
  <button *ngIf="!data.readonly" mat-button [mat-dialog-close]="data.companhia" cdkFocusInitial>Salvar</button>
</div>
