<div class="d-flex p-2 topdiv">
<button mat-icon-button (click)="addNode(null)"><mat-icon>add_box</mat-icon>Inserir companhia</button>
</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <li class="mat-tree-node">
      <!-- use a disabled button to provide padding for tree leaf -->
      <div class="col-md-1">
        <button mat-icon-button disabled></button>
      </div>
      <div class="col-md-9" (click)="consultaNode(node)"><div [innerHTML]="mostraConteudo(node)"></div></div>
      <div class="col-md-2">
        <button mat-icon-button (click)="editNode(node)"><mat-icon>create</mat-icon></button>
        <button mat-icon-button (click)="addNode(node)" *ngIf="node.level < 2"><mat-icon>add_box</mat-icon></button>
        <button mat-icon-button (click)="deleteNode(node)"><mat-icon>delete</mat-icon></button>
      </div>
  </li>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li>
      <div class="mat-tree-node">
        <div class="col-md-1">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
        </div>
        <div class="col-md-9" (click)="consultaNode(node)"><div [innerHTML]="mostraConteudo(node)"></div></div>
        <div class="col-md-2">
          <button mat-icon-button (click)="editNode(node)"><mat-icon>create</mat-icon></button>
          <button mat-icon-button (click)="addNode(node)"><mat-icon>add_box</mat-icon></button>
          <button mat-icon-button (click)="deleteNode(node)"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
      <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
