@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.example-card {
  max-width: 400px;
}

.topdiv {
  background-color: lightblue;
}

button:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.mat-tree-node {
  border-top-style: inset;
  border-top-width: 1px;
}
